/**

:root {
  --primary-color: #6664e4;
  --primary-links-hover-color: #0f110f;
  --primary-dark-color: #0f110f;
  --primary-bg-color: #e5e6f6;
  --header-bg-color: #f5f4fe;
  --footer-bg-color: #f5f5f6;
  --title-color: #0f110f;
  --fw-title-color: #0f110f;
  --btn-bg-color: #6664e4;
  --btn-hover-color: #0f110f;
  --txt-select-bg-color: #e5e6ff;
}

// Back-end variables
:root {
  --header-text-color: var(--title-color);
  --header-menu-color: #212529;
  --header-menu-color-white: #ffffff;
  --header-title-color: var(--title-color);
  --header-text-color-hover: var(--primary-color);
  --header-current-page: var(--primary-color);
  --breadcrumbs-txt: #080808;
  --breadcrumbs-a: #ffffff;
  --breadcrumbs-a-bg: var(--btn-bg-color);
  --breadcrumbs-a-hover: #ffffff;
  --breadcrumbs-a-hover-bg: var(--btn-hover-color);
  --breadcrumbs-border: transparent;
  --footer-link-color: var(--fw-title-color);
  --blog-tile-content: #666666;
  --widget-title-color: var(--title-color);
  --footer-tag-color: var(--title-color);
  --footer-product-title-color: var(--title-color);
  --block-box-shadow: 0 20px 40px rgba(9, 31, 67, 0.05);
  --header-menu-hover-bg: transparent;
}

// Features colors
:root {
  --social-icon-txt-color: #ffffff;
  --social-icon-color: var(--btn-bg-color);
  --social-icon-hover-color: var(--btn-hover-color);
  --price-color: var(--title-color);;
  --price-tile-color: var(--title-color);;
  --woo-pr-fil-bg-color: var(--primary-color);
  --success-icon-color: var(--primary-color);
  --cart-count-color: var(--primary-color);
  --sale-badge-bg-color: var(--primary-color);
}

// Mobile variables
@media (max-width: 1199px) {
  :root {
    --block-box-shadow: 0 8px 40px -5px rgba(9, 31, 67, 0.15);
  }
}

#site-footer {
  --primary-bg-color: #ffffff;
}


// Fonts
@font-face {
  font-family: 'Lexend Deca';
  font-style: normal;
  font-weight: 300;
  font-display: block;
  src: url("./assets/fonts/Lexend-Deca-Light.woff?v=1.00") format("woff2");
}

@font-face {
  font-family: 'Lexend Deca';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("./assets/fonts/Lexend-Deca-Regular.woff?v=1.00") format("woff2");
}

@font-face {
  font-family: 'Lexend Deca';
  font-style: normal;
  font-weight: 500;
  font-display: block;
  src: url("./assets/fonts/Lexend-Deca-Medium.woff?v=1.00") format("woff2");
}

@font-face {
  font-family: 'Lexend Deca';
  font-style: normal;
  font-weight: 600;
  font-display: block;
  src: url("./assets/fonts/Lexend-Deca-Semibold.woff?v=1.00") format("woff2");
}

@font-face {
  font-family: 'Lexend Deca';
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: url("./assets/fonts/Lexend-Deca-Bold.woff?v=1.00") format("woff2");
}


**/
#user-profile {
  /*-------------profile header section---------*/
  /*-------- profile info section --------*/
}
#user-profile .profile-header {
  overflow: hidden;
}
#user-profile .profile-header .profile-img-container {
  position: absolute;
  bottom: -2rem;
  left: 2.14rem;
  z-index: 2;
}
#user-profile .profile-header .profile-img-container .profile-img {
  height: 8.92rem;
  width: 8.92rem;
  border: 0.357rem solid #fff;
  background-color: #fff;
  border-radius: 0.428rem;
  box-shadow: 0 4px 24px 0 rgba(34, 41, 47, 0.1);
}
#user-profile .profile-header .profile-header-nav .navbar {
  padding: 0.8rem 1rem;
}
#user-profile .profile-header .profile-header-nav .navbar .navbar-toggler {
  line-height: 0;
}
#user-profile .profile-header .profile-header-nav .navbar .profile-tabs .nav-item i,
#user-profile .profile-header .profile-header-nav .navbar .profile-tabs .nav-item svg {
  margin-right: 0;
}
#user-profile #profile-info .profile-star {
  color: #babfc7;
}
#user-profile #profile-info .profile-star i.profile-favorite,
#user-profile #profile-info .profile-star svg.profile-favorite {
  fill: #ff9f43;
  stroke: #ff9f43;
}
#user-profile #profile-info .profile-likes {
  fill: #ea5455;
  stroke: #ea5455;
}
#user-profile #profile-info .profile-polls-info .progress {
  height: 0.42rem;
}
#user-profile .profile-latest-img {
  transition: all 0.2s ease-in-out;
}
#user-profile .profile-latest-img:hover {
  transform: translateY(-4px) scale(1.2);
  z-index: 10;
}
#user-profile .profile-latest-img img {
  margin-top: 1.28rem;
}
#user-profile .block-element .spinner-border {
  border-width: 0.14rem;
}

@media (max-width: 991.98px) {
  #user-profile .profile-latest-img img {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .profile-header-nav .profile-tabs {
    width: 100%;
    margin-left: 13.2rem;
  }
}
@media (max-width: 575.98px) {
  #user-profile .profile-header .profile-img-container .profile-img {
    height: 100px;
    width: 100px;
  }
  #user-profile .profile-header .profile-img-container .profile-title h2 {
    font-size: 1.5rem;
  }
}
