/**

:root {
  --primary-color: #6664e4;
  --primary-links-hover-color: #0f110f;
  --primary-dark-color: #0f110f;
  --primary-bg-color: #e5e6f6;
  --header-bg-color: #f5f4fe;
  --footer-bg-color: #f5f5f6;
  --title-color: #0f110f;
  --fw-title-color: #0f110f;
  --btn-bg-color: #6664e4;
  --btn-hover-color: #0f110f;
  --txt-select-bg-color: #e5e6ff;
}

// Back-end variables
:root {
  --header-text-color: var(--title-color);
  --header-menu-color: #212529;
  --header-menu-color-white: #ffffff;
  --header-title-color: var(--title-color);
  --header-text-color-hover: var(--primary-color);
  --header-current-page: var(--primary-color);
  --breadcrumbs-txt: #080808;
  --breadcrumbs-a: #ffffff;
  --breadcrumbs-a-bg: var(--btn-bg-color);
  --breadcrumbs-a-hover: #ffffff;
  --breadcrumbs-a-hover-bg: var(--btn-hover-color);
  --breadcrumbs-border: transparent;
  --footer-link-color: var(--fw-title-color);
  --blog-tile-content: #666666;
  --widget-title-color: var(--title-color);
  --footer-tag-color: var(--title-color);
  --footer-product-title-color: var(--title-color);
  --block-box-shadow: 0 20px 40px rgba(9, 31, 67, 0.05);
  --header-menu-hover-bg: transparent;
}

// Features colors
:root {
  --social-icon-txt-color: #ffffff;
  --social-icon-color: var(--btn-bg-color);
  --social-icon-hover-color: var(--btn-hover-color);
  --price-color: var(--title-color);;
  --price-tile-color: var(--title-color);;
  --woo-pr-fil-bg-color: var(--primary-color);
  --success-icon-color: var(--primary-color);
  --cart-count-color: var(--primary-color);
  --sale-badge-bg-color: var(--primary-color);
}

// Mobile variables
@media (max-width: 1199px) {
  :root {
    --block-box-shadow: 0 8px 40px -5px rgba(9, 31, 67, 0.15);
  }
}

#site-footer {
  --primary-bg-color: #ffffff;
}


// Fonts
@font-face {
  font-family: 'Lexend Deca';
  font-style: normal;
  font-weight: 300;
  font-display: block;
  src: url("./assets/fonts/Lexend-Deca-Light.woff?v=1.00") format("woff2");
}

@font-face {
  font-family: 'Lexend Deca';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("./assets/fonts/Lexend-Deca-Regular.woff?v=1.00") format("woff2");
}

@font-face {
  font-family: 'Lexend Deca';
  font-style: normal;
  font-weight: 500;
  font-display: block;
  src: url("./assets/fonts/Lexend-Deca-Medium.woff?v=1.00") format("woff2");
}

@font-face {
  font-family: 'Lexend Deca';
  font-style: normal;
  font-weight: 600;
  font-display: block;
  src: url("./assets/fonts/Lexend-Deca-Semibold.woff?v=1.00") format("woff2");
}

@font-face {
  font-family: 'Lexend Deca';
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: url("./assets/fonts/Lexend-Deca-Bold.woff?v=1.00") format("woff2");
}


**/
.blog-list-wrapper .blog-title-truncate {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.blog-list-wrapper .blog-content-truncate {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.blog-detail-wrapper .blog-detail-share .dropdown-menu {
  min-width: auto;
}

.blog-sidebar .blog-recent-posts img {
  -o-object-fit: cover;
     object-fit: cover;
}
.blog-sidebar .blog-recent-posts .text-body-heading:hover {
  color: #2a6cb3 !important;
}
.blog-sidebar .blog-recent-post-title,
.blog-sidebar .blog-category-title {
  line-height: 23px;
  letter-spacing: 0;
}

.blog-edit-wrapper .border {
  border-color: #d8d6de !important;
}
